.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.4rem;
  padding-top: 4rem;
}

.menuLink {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background-color: var(--primary);
  color: var(--tex-over-primary);
  padding: 1.2rem;
  border-radius: .8rem;
  transition: all 0.1s ease-in-out;
}

.menuLink:hover {
  filter: brightness(60%);
}

.menuLink svg {
  width: 3rem;
  height: 3rem;
}