.cycles {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1.6rem;
}

.cycleDots {
  display: flex;
  gap: .8rem;
}

.cycleDot {
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  background-color: var(--primary);
}

.workTime {
  background-color: var(--warning);
}

.shortBreakTime {
  background-color: var(--primary);
}

.longBreakTime {
  background-color: var(--info);
}